
@font-face{
    font-family: "aladdin";
src: url("aladdin.ttf");}


h1{
    font-family: "aladdin";
}

.text-align {
    text-align: end;
}

.text-decoration {
    text-decoration: none;
    color: white;
}

div {
    font-family:"aladdin";
}

.font-size {
    font-size: 25px;
}

.text-alignleft {
    text-align: left;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.background {
    background-color: #f3e4a3;
}



