@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    box-sizing: border-box;
}

.Titre1 {
    font-size: 40px;
    font-family: Dela Gothic One;
    margin-left: 10px;
    color: #af8b2a;
}

.text-align {
    text-align: end;
}

.text-decoration {
    text-decoration: none;
    color: white;
}

.Titre2 {
    font-family: Dela Gothic One;
}

.font-size {
    font-size: 25px;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.background {
    background-color: #f3e4a3;
}

.navheader {
    width: 100%;
}

.aligncenter {
    align-items: center;
    text-align: center;
}

.spaceBetween {
    justify-content: space-between;
}

.padding {
    padding: 16px 64px;
}

img {
    height: 360px;
    padding: 16px;
}

.Texte {
    font-family: "Poppins", sans-serif;
    color: #af8b2a;
}

.Espace {
    margin-left: 5%;
}

.background {
    background-color: #f3e4a3;
}

.button {
    border: 3;
    border-radius: 6px;
    background-color: #f3e4a3;
    font-size: 25px;
    line-height: 2.5;
    padding: 5px 15px;
    margin-left: 5px;
    font-family: "Poppins", sans-serif;
    box-shadow: 10px 5px 5px #af8b2a;
    color: #af8b2a;
}

.flex {
    display: flex;
    flex-wrap: wrap
}

.spaceBetween {
    justify-content: space-between;
}

.text-weight {
    font-weight: bold;
}

.card {
    width: 300px;
    border-radius: 14px;
    box-shadow: 10px 5px 5px #D8A2A9;
    color: #d0b19c;
    border-radius: 1px 0 3px 4px;

}

.imagecard {
    width: 300px;
    height: auto;
}

.buttoncard {
    border: 0;
    line-height: 2.5px;
    padding: 8px 13px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #EF8F77;
    margin-top: 15px;
} 